@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  background: #E5E5E5;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  font-style: normal;
  line-height: 43px;
  color: #000000;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
}

.container {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  background: #FFFFFF;
}

.header {
  background-image: url("../../img/BgHeader.png");
  height: 782px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 50px 168px 187px 168px;
}

.header__top {
  display: flex;
  justify-content: start;
  vertical-align: middle;
  align-items: center;
  font-weight: 700;
  margin-bottom: 167px;
}
.header__top a {
  color: #FFFFFF;
}

.haeder__logo {
  display: flex;
  align-items: center;
}
.haeder__logo p {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: 10px;
}

.header__menu {
  margin: 0 114px 0 161px;
}
.header__menu li {
  font-weight: 400;
  display: inline-block;
  margin-right: 19px;
}
.header__menu li:hover {
  font-weight: 700;
  transition: 0.5s;
}
.header__menu li:last-child {
  margin-right: 0;
}

.header__language {
  display: flex;
  align-items: center;
  font-weight: 400;
}
.header__language select {
  margin-left: 12px;
  color: #FFFFFF;
  width: 42px;
  height: 22px;
  -webkit-appearance: none;
          appearance: none;
  background: url("../../img/icons/Down__arrow.svg") no-repeat right;
}
.header__language select option {
  color: rgba(213, 32, 71, 0.8);
}

.header__logIn {
  font-weight: 400;
  margin-left: 28px;
  display: block;
  width: 100px;
  height: 40px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 11px 28px;
}

.header__info {
  text-align: center;
  font-weight: 600;
}
.header__info h1 {
  margin: 0 auto 39px auto;
}
.header__info a {
  color: #ed4c5c;
  width: 160px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 6px;
  display: block;
  padding-top: 15px;
  margin: 60px auto 0 auto;
}
.header__info p {
  text-transform: none;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
}

.main {
  background-color: #ffffff;
}

.owerview {
  height: 500px;
  display: flex;
  position: relative;
}

.owerview__info {
  padding: 140px 125px 110px 165px;
}
.owerview__info p {
  margin: 48px 0 24px 0;
  line-height: 140%;
  text-align: justify;
}
.owerview__info a {
  line-height: 140%;
  color: #ED4C5C;
}

.popup-1 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
}
.popup-1:target {
  opacity: 1;
  visibility: visible;
}
.popup-1:target .popup-1__content {
  transform: perspective(600px) translate(0, 0) rotateX(0deg);
  opacity: 1;
}

.popup-1__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-1__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px 10px;
}

.popup-1__content {
  background-color: #fff;
  color: #000;
  width: 50%;
  padding: 30px;
  position: relative;
  text-align: justify;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0, -100%) rotateX(45deg);
}

.popup-1__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.popup-1__title {
  font-size: 40px;
  margin-bottom: 1em;
}

.popup-1__text {
  text-transform: uppercase;
}

.owerview__media {
  margin: 94px 260px 0 0;
}

.owerview__button {
  display: none;
  background: #ed4c5c;
  background-image: url("../../img/icons/Right_arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: absolute;
  left: 702px;
  top: 217px;
}

.features {
  height: 660px;
  background: #FAFAFA;
}
.features h2 {
  text-align: center;
  padding-top: 63px;
  margin-bottom: 70px;
}
.features ul {
  display: flex;
  justify-content: center;
}

.features__columns {
  margin-right: 30px;
}
.features__columns:last-child {
  margin-right: 0;
}

.features__info {
  text-align: center;
  margin: 0 auto;
  padding: 33px 32px 0 32px;
  position: relative;
  top: -93px;
  width: 293px;
  height: 198px;
  background: #FFFFFF;
  border-radius: 8px;
}
.features__info:hover {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 0.7s;
}
.features__info p {
  font-size: 12px;
  line-height: 150%;
  margin: 20px 0 25px 0;
}
.features__info a {
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  color: #ED4C5C;
}

.popup-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
}

.popup-js__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-js__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px 10px;
}

.popup-js__content {
  background-color: #fff;
  color: #000;
  width: 50%;
  padding: 30px;
  position: relative;
  text-align: justify;
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.popup-js__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.popup-js__title {
  font-size: 40px;
  margin-bottom: 1em;
}

.popup-js__text {
  text-transform: uppercase;
}

.technology {
  padding: 0 195px 0 199px;
  height: 500px;
}
.technology h2 {
  text-align: center;
  padding-top: 63px;
}
.technology ul {
  display: flex;
  justify-content: center;
}
.technology li {
  align-items: center;
  margin-right: 94px;
}
.technology li img {
  margin-bottom: 14px;
}
.technology li:first-child {
  background: url("../../img/01.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.technology li:first-child img {
  margin-top: -10px;
  margin-bottom: 0;
}
.technology li:nth-child(2) {
  background: url("../../img/02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.technology li:nth-child(2) img {
  margin-bottom: 10px;
}
.technology li:nth-child(3) {
  background: url("../../img/03.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.technology li:last-child {
  margin-right: 0;
  background: url("../../img/04.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.technology__info {
  text-align: center;
  margin-top: 120px;
}
.technology__info p {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  width: 191px;
}

.appDwnld {
  height: 500px;
  position: relative;
  display: flex;
  background: #ED4C5C;
  padding: 0 216px 0 165px;
}

.appDwnld__info {
  width: 430px;
  color: #FFFFFF;
}
.appDwnld__info h2 {
  color: #FFFFFF;
  padding-top: 122px;
}
.appDwnld__info p {
  margin: 48px 0 42px 0;
  text-align: justify;
}

.appDwnld__links ul {
  display: flex;
}
.appDwnld__links li {
  margin-right: 28px;
}
.appDwnld__links li:last-child {
  margin-right: 0;
}

.appDwnld__media li:first-child {
  position: absolute;
  top: 116px;
  left: 841px;
}
.appDwnld__media li:first-child img {
  z-index: 3;
}
.appDwnld__media li:nth-child(2) {
  position: absolute;
  top: 116px;
  left: 691px;
}
.appDwnld__media li:nth-child(2) img {
  z-index: 2;
}
.appDwnld__media li:last-child {
  position: absolute;
  top: 94px;
  left: 735px;
}
.appDwnld__media li:last-child img {
  z-index: 1;
}

.contact {
  height: 500px;
  padding: 117px 165px 78px 176px;
  position: relative;
  display: flex;
}

.contact__info {
  margin-right: 125px;
}
.contact__info p {
  margin-top: 64px;
  width: 410px;
  line-height: 140%;
  text-align: justify;
}

.contact__firstName {
  font-size: 16px;
  line-height: 19px;
  width: 255px;
  height: 60px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 31px;
  margin-right: 26px;
  color: rgba(19, 39, 67, 0.5);
}

.contact__lastName {
  font-size: 16px;
  line-height: 19px;
  width: 255px;
  height: 60px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 31px;
  color: rgba(19, 39, 67, 0.5);
}

.contact__phone {
  font-size: 16px;
  line-height: 19px;
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 31px;
  margin-top: 24px;
  color: rgba(19, 39, 67, 0.5);
}

.contact__select {
  font-size: 16px;
  line-height: 19px;
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 24px;
  -webkit-appearance: none;
          appearance: none;
  color: rgba(19, 39, 67, 0.5);
  padding-left: 31px;
  background: url("../../img/icons/selector-arrow.svg") no-repeat right;
  background-position: 500px 23px;
}

.contact__submit {
  font-size: 16px;
  line-height: 19px;
  margin-top: 24px;
  width: 160px;
  height: 50px;
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer {
  height: 435px;
  background: #FAFAFA;
  padding: 85px 0 0 166px;
  font-size: 12px;
}

.footer__info {
  position: relative;
  display: flex;
  margin-bottom: 86px;
}
.footer__info address {
  line-height: 18px;
  font-style: normal;
}
.footer__info h3 {
  text-align: left;
  margin-bottom: 33px;
}

.footer__column {
  margin-right: 172px;
}
.footer__column:first-child {
  margin-right: 100px;
}
.footer__column:nth-child(2) a {
  color: #000000;
  display: block;
  margin-bottom: 8px;
}
.footer__column:nth-child(3) {
  line-height: 14px;
}
.footer__column:nth-child(3) span {
  display: block;
  margin: 11px 0 21px 0;
}
.footer__column:last-child {
  margin-right: 0;
}

.footer__socialMedia {
  display: flex;
}
.footer__socialMedia li {
  margin-right: 15px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 100%;
  }
  .container .header {
    height: 700px;
    padding: 50px;
  }
  .container .header .header__top {
    margin-bottom: 117px;
    font-size: 16px;
    justify-content: center;
  }
  .container .header .header__top .header__menu {
    margin: 0 100px;
  }
  .container .header .header__top .header__info h1 {
    margin: 0 auto;
  }
  .container .owerview {
    padding: 50px 75px;
    height: 415px;
  }
  .container .owerview .owerview__info {
    padding: 0;
  }
  .container .owerview .owerview__info p {
    margin-top: 40px;
    font-size: 18px;
  }
  .container .owerview .owerview__media {
    margin: 0 0 0 50px;
  }
  .container .owerview .owerview__media .owerview__button {
    display: none;
  }
  .container .features {
    height: 500px;
  }
  .container .features h2 {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .container .technology {
    height: 400px;
  }
  .container .technology h2 {
    padding-top: 30px;
  }
  .container .technology .technology__info {
    margin-top: 90px;
  }
  .container .appDwnld {
    height: 400px;
    padding: 50px;
  }
  .container .appDwnld .appDwnld__info {
    margin-left: 5%;
  }
  .container .appDwnld .appDwnld__info h2 {
    padding-top: 0;
  }
  .container .appDwnld .appDwnld__media li:first-child {
    top: 77px;
    left: 741px;
  }
  .container .appDwnld .appDwnld__media li:first-child img {
    z-index: 3;
  }
  .container .appDwnld .appDwnld__media li:nth-child(2) {
    top: 77px;
    left: 591px;
  }
  .container .appDwnld .appDwnld__media li:nth-child(2) img {
    z-index: 2;
  }
  .container .appDwnld .appDwnld__media li:last-child {
    top: 50px;
    left: 635px;
  }
  .container .appDwnld .appDwnld__media li:last-child img {
    z-index: 1;
  }
  .container .contact {
    height: 400px;
    padding: 50px;
    justify-content: center;
  }
  .container .footer {
    height: 335px;
    background: #FAFAFA;
    padding: 50px 100px;
    font-size: 12px;
  }
  .container .footer__info {
    position: relative;
    display: flex;
    margin-bottom: 36px;
  }
  .container .footer__info address {
    line-height: 18px;
    font-style: normal;
  }
  .container .footer__info h3 {
    text-align: left;
    margin-bottom: 33px;
  }
  .container .footer__column {
    margin-right: 10%;
  }
  .container .footer__column:first-child {
    margin-right: 100px;
  }
  .container .footer__column:nth-child(2) a {
    color: #000000;
    display: block;
    margin-bottom: 8px;
  }
  .container .footer__column:nth-child(3) {
    line-height: 14px;
  }
  .container .footer__column:nth-child(3) span {
    display: block;
    margin: 11px 0 21px 0;
  }
  .container .footer__column:last-child {
    margin-right: 0;
  }
  .container .footer__socialMedia {
    display: flex;
  }
  .container .footer__socialMedia li {
    margin-right: 15px;
  }
}
/* Landscape tablets and medium desktops 
@media (min-width: 992px) and (max-width: 1199px) {

}*/
/* Portrait tablets and small desktops 
@media (min-width: 768px) and (max-width: 991px) {

}*/
/* Landscape phones and portrait tablets 
@media (min-width: 481px) and (max-width: 767px) {

}*/
/* Portrait phones and smaller 
@media (min-width: 321px) and (max-width: 480px) {

}*/
/* Iphone 5 
@media (max-width: 320px) {

}*/